@page "/userprofile"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Profile</PageTitle>

<div class="pagetitle">
    <h1>
        UserProfile
    </h1>
</div>

@if (user == null || user.Name == "")
{
    <div class="loading">Loading...</div>
}
else{
    <div class="profilelist">

        <div class="profilecontainer">

            <b>Feed</b>
            <div class="innerprofilecontainer">

                <div class="profilenamecontainer">
                    <div class="profilename"><b>Name: </b>@user.Name</div>
                    <div class="profileimage"><b>Imagecontainer</b><br />@user.Image</div>
                </div>
                <div class="profiledescription"><b>Description: </b><p>@user.Description</p></div>
            </div>
            <div style="display: flex; flex-direction: row; margin:0 20px">
                @if(status == "add disabled")
                {
                    <button disabled class="dashedborder" style="margin-top: 10px; display: inline-block; width: 50%; width: 100%;">Add friend</button>
                }
                else if(status == "remove disabled")
                {
                    <button disabled class="dashedborder" style="margin-top: 10px; display: inline-block; width: 50%;width: 100%;">Remove friend</button>
                }
                else if(status == "added")
                {
                    <button @onclick="(() => RemoveFriend(profileGuid))" class="dashedborder" style="margin-top: 10px; display: inline-block; width: 50%; width: 100%;">Remove friend</button>
                }
                else if (status == "removed")
                {
                    <button @onclick="(() => AddFriend(profileGuid))" class="dashedborder" style="margin-top: 10px; display: inline-block; width: 50%; width: 100%;">Add friend</button>
                }
                else
                {
                    <button @onclick="(() => AddFriend(profileGuid))" class="dashedborder" style="margin-top: 10px; display: inline-block; width: 50%; margin-right: 5px;">Add friend</button>
                    <button @onclick="(() => RemoveFriend(profileGuid))" class="dashedborder" style="margin-top: 10px; display: inline-block; width: 50%; margin-left: 5px;">Remove friend</button>
                }
            </div>

            <div class="feedcontainer" style="width: 100%; height: 100%; /*! margin: 20px; */ border-top: 2px black dashed;display: block;margin-top: 20px;padding: 0 10px;padding-bottom: 20px;display: flex;flex-direction: row;flex-wrap: wrap; ">
                
                <!--Remove chunk when implemented-->
                @foreach (var post in user.Friends)
                {
                    <div class="feedpost" style="">
                        <div class="feedpostheader" style="background-color: rgba(200, 200, 200, 0.5);border-bottom: 2px dashed black; display: flex;">
                            <b style="padding: 0 5px; border-right: 2px black dashed;">Name</b>
                            <b style="width: 100%; ">Feedpost</b>
                            <b style="padding: 0 5px; border-left: 2px black dashed;">Time</b>
                        </div>
                        <div style="padding: 10px;height: 100%; background-color: rgba(200, 200, 200, 0.5);background-color: white;">
                            <p style="text-align: left;">Today i started a new job at yadayada some stuff about daily life i want to share yadayada yadayada yadayada yadayada yadayada yadayada yadayada yadayada yadayada yadayada yadayada yadayada yadayada </p>
                        </div>

                        <button @onclick="(() => ToggleComments(post.FriendId.ToString()))" style="padding: 0; border: none;border-top: 2px black dashed;height: auto; width: 100%; background-color: rgba(200, 200, 200, 0.5);">
                            <b>Comments</b>
                        </button>

                        <div class="@commentstoggle">
                            <div style="background-color: rgba(200, 200, 200, 0.5);display:flex;flex-direction:row; justify-content: center;">
                                <input @bind-value="@commentinput" id="commentinput" type="text" placeholder="Got something to say?" style="border: 2px black dashed;margin: 20px; margin-top: 0; margin-right: 10px; width: 100%;" />
                                <button @onclick="AddComment" style="border: 2px black dashed;margin: 0px 20px 20px 0px !important;">Send</button>
                            </div>
                            <div class="feedpostcommentcontainer" style="max-height: 40vh !important;overflow: auto;background-color: rgba(200, 200, 200, 0.5);margin-bottom: 0;padding-bottom: 0px;">

                                @foreach (var comment in user.Friends)
                                {
                                    <div class="feedpostcomment" style="">
                                        <div class="feedpostcommentheader" style=" background-color: rgba(200, 200, 200, 0.5);display: flex; flex-direction: row; justify-content: space-between; border-bottom: 2px black dashed;">
                                            <b style="margin: 0; border-right: 2px black dashed; padding: 0 5px;">Name</b>
                                            <b style="margin: 0;">Comment</b>
                                            <b style="margin: 0; border-left: 2px black dashed; padding: 0 5px;">Time</b>
                                        </div>
                                        <div class="feedpostcommentcontent" style="text-align: left;display: flex; flex-direction: row; justify-content: space-between; padding: 10px; background-color: white;">
                                            <p style="margin: 0;">comment text yadayada yadayada yadayada yadayada yadayada yadayada yadayada yadayada yadayada yadayada yadayada yadayada yadayada</p>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div style="height: 20px;background-color: rgba(200, 200, 200, 0.5);"></div>
                        </div>

                    </div>
                }
                <!--Remove chunk when implemented-->

            </div>

        </div>
        <div class="friendlistcontainer" style="">
            <b>Messages</b><div style="display:flex;flex-direction:row; justify-content: center;">
                <input @bind-value="@messageinput" id="messageinput" type="text" placeholder="Got something to say?" style="border: 2px black dashed;margin: 20px; margin-top: 0; margin-right: 10px; width: 100%;" />
                <button @onclick="AddMessage" style="border: 2px black dashed;margin: 0px 20px 20px 0px !important;">Send</button>
            </div>
            <div class="innerfriendlistcontainer" style="overflow: auto;">
                @foreach (var friend in user.Friends)
                {
                    <div class="friendcontainer">
                        <div class="friendimage"><b>{Name}<br />Img</b><!--@friend.UserFriend.Image--></div>
                        <div class="friendname" style="background-color: white !important;text-align: left;">contentcontentcontentbreak content contentcontent content content</div>
                    </div>
                }
            </div>
        </div>
    </div>
}


@code {
    private User? user = new();
    string? userguid;
    private HttpResponseMessage response = new();
    private string friendStatus = "";
    private string status = "";
    private string commentstoggle = "showcomments";
    private string messageinput = "";
    private string commentinput = "";

    private void ToggleComments(string postid)
    {
        /*if (commentstoggle == "showcomments")
        {
            this.commentstoggle = "hidecomments";
        }
        else
        {
            this.commentstoggle = "showcomments";
        }*/
        // only show/hide comments for selected post TODO
        /*foreach (var post in user.Friends)
        {
        if (postid == user.Friends.Select(x => x.FriendId).ToString())
            {
            if (commentstoggle == "showcomments")
                {
                this.commentstoggle = "hidecomments";
            }
            else
                {
                this.commentstoggle = "showcomments";
    }
    }
    }*/
    }
    private void AddMessage()
    {
        messageinput = messageinput;
        Task.Delay(2000);
        messageinput = "";
    }
    private void AddComment(/*string postid, string content*/)
    {
        commentinput = commentinput;
        Task.Delay(2000);
        commentinput = "";
    }

    private async Task AddFriend(string profileGuid)
    {
        status = "add disabled";
        StateHasChanged();
        await Task.Delay(2000);
        /*HttpClient httpClient = new HttpClient();
        response = await httpClient.GetAsync(API_URL + "api/User/Add/" + profileGuid);
        friendStatus = await response.Content.ReadAsStringAsync();
        httpClient.Dispose();*/
        status = "added";
        StateHasChanged();
    }
    private async Task RemoveFriend(string profileGuid)
    {
        status = "remove disabled";
        StateHasChanged();
        await Task.Delay(2000);
        /*HttpClient httpClient = new HttpClient();
        response = await httpClient.GetAsync(API_URL + "api/User/Remove/" + profileGuid);
        friendStatus = await response.Content.ReadAsStringAsync();
        httpClient.Dispose();*/
        status = "removed";
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RefreshList();
            StateHasChanged();
        }
    }

    private async Task RefreshList()
    {
        HttpClient httpClient = new HttpClient();
        response = await httpClient.GetAsync(API_URL + "api/User/" + profileGuid);
        user = JsonConvert.DeserializeObject<User>(await response.Content.ReadAsStringAsync()) ?? new User();
        httpClient.Dispose();
    }
}